---
layout: default
title: Arts & Lamps Blog
---

<main class="container">
    <h1> Where faith finds form: a collection of religious passages and heartfelt stories, brought to life through beautiful sketches. </h1>
    <h2>A tapestry of tales and passages, illuminated by the gentle glow of art and faith.</h2>

    <div class="blog-posts-container">
        {% if site.posts.size > 0 %}
            {% for post in site.posts %}
                <a href="{{ post.url | relative_url }}" class="blog-post-card">
                    {% if post.image %}
                        <img src="{{ post.image | relative_url }}" alt="{{ post.title }} Featured Image">
                    {% else %}
                        <img src="https://placehold.co/300x200/cccccc/333333?text=No+Image" alt="No Featured Image">
                    {% endif %}
                    <div class="blog-post-card-content">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
                        <div class="post-date">{{ post.date | date: "%B %d, %Y" }}</div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <h2 class="text-center text-gray-500">No blog posts found.</h2>
        {% endif %}
    </div>
</main>
